#gameZone{class: ["row", "ml-5", "mr-5"]}

#scoreZone{class: ["mt-3","ml-5", "mr-5", "row"]}
  %div{class: ["input-group-text","col", "ml-3", "mr-3"], id: "score"} Score : 1

#directionalButtonUpZone{class: ["row", "mt-3", "mb-3","ml-5", "mr-5", "text-center"]}
  %div{class: ["separator", "col-5"]}
  %button{class: ["btn", "col-2","mr-2","ml-2"],
          id: "up_button",
          onclick: "moveUpCall()"} Move up

#directionalButtonsZone{class: ["row", "ml-5", "mr-5", "text-center"]}
  %div{class: ["separator", "col-3"]}
  %button{class: ["btn", "col-2"],
          id: "left_button",
          onclick: "moveLeftCall()"} Move left

  %button{class: ["btn", "col-2", "mr-2","ml-2"],
          id: "down_button",
          onclick: "moveDownCall()"} Move down

  %button{class: ["btn", "col-2"],
          id: "right_button",
          onclick: "moveRightCall()"} Move right


%button{class: ["btn", "m-3"],
        id: "restart_button",
        onclick: "restartCall()"} Restart

= button_to "high_scores", high_scores_path, {class: 'btn', method: "get"}
