#game_zone{class: ["row", "ml-5", "mr-5"]}



%button{href: "#",
        class: ["btn", "m-3"],
        id: "test_button",
        onclick: "test_button()"} Bouton haml

%button{class: ["btn", "m-3"],
        id: "up_button",
        onclick: "move_up_call()"} Move up
