#gameZone{class: ["row", "ml-5", "mr-5"]}



%button{href: "#",
        class: ["btn", "m-3"],
        id: "test_button",
        onclick: "testButton()"} Bouton haml

%button{class: ["btn", "m-3"],
        id: "up_button",
        onclick: "moveUpCall()"} Move up

%button{class: ["btn", "m-3"],
        id: "down_button",
        onclick: "moveDownCall()"} Move down

%button{class: ["btn", "m-3"],
        id: "left_button",
        onclick: "moveLeftCall()"} Move left

%button{class: ["btn", "m-3"],
        id: "right_button",
        onclick: "moveRightCall()"} Move right
