// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gameCell{
  border: thin solid black ;
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}

.emptyCell{
  background-color: grey;
}

[data-value="1"]{
  background-image: image-url('1.jpg');
  background-size: cover
}
[data-value="2"]{
  background-image: image-url('2.jpg');
  background-size: cover
}
[data-value="3"]{
  background-image: image-url('3.jpg');
  background-size: cover
}
[data-value="4"]{
  background-image: image-url('4.jpg');
  background-size: cover
}
[data-value="5"]{
  background-image: image-url('5.jpg');
  background-size: cover
}
[data-value="6"]{
  background-image: image-url('6.jpg');
  background-size: cover
}
[data-value="7"]{
  background-image: image-url('7.jpg');
  background-size: cover
}
[data-value="8"]{
  background-image: image-url('8.jpg');
  background-size: cover
}
[data-value="9"]{
  background-image: image-url('9.jpg');
  background-size: cover
}
[data-value="10"]{
  background-image: image-url('10.jpg');
  background-size: cover
}
[data-value="11"]{
  background-image: image-url('11.jpg');
  background-size: cover
}
[data-value="12"]{
  background-image: image-url('12.jpg');
  background-size: cover
}
[data-value="13"]{
  background-image: image-url('13.jpg');
  background-size: cover
}
[data-value="14"]{
  background-image: image-url('14.jpg');
  background-size: cover
}
[data-value="15"]{
  background-image: image-url('15.jpg');
  background-size: cover
}
[data-value="16"]{
  background-image: image-url('16.jpg');
  background-size: cover
}
