// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game_cell{
  border: thin solid black ;
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}

.empty_cell{
  background-color: grey;
}
