<!DOCTYPE html>
<html>
  <head>
    <title>2048</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="text-center col-12 shadow">
          <div class="row">
            <div class="jumbotron col text-center m-3">
              <h1 class="display-3">One does not simply</h1>
              <p class="display-4">2048</p>
            </div>
          </div>

          <div class="row">
            <div class="col m-3">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
